<%- include('header') %>

<%- include('menu') %>


<script>
    window.onload = function () {
    
    var chart = new CanvasJS.Chart("chartContainer", {
         animationEnabled: true,
        exportEnabled: true,
        theme: "light1", // "light1", "light2", "dark1", "dark2"
        title:{
            text: "Stepdatas chart"
        },
          axisY: {
          includeZero: true
        },
        data: [{
            type: "splineArea", //change type to bar, line, area, pie, etc
            //indexLabel: "{y}", //Shows y value on all Data Points
            indexLabelFontColor: "#5A5757",
              indexLabelFontSize: 16,
            indexLabelPlacement: "outside",
            dataPoints: [
            <%- str %>
            ]
        }]
    });
    chart.render();
    
    }
</script>

<div class="container">
    <main class="form-signin">
        <br>
        <h1>Chart view</h1>
        <hr>
        <div id="chartContainer"></div>
    </main>
</div>


<%- include('footer') %>