<%- include('header') %>

<%- include('menu') %> 
<h3>Password change</h3>
<hr>
<form action="/passmod" method="POST">
    <div class="form-group">
        <input type="password" name="oldpass" placeholder="Old password" required>
    </div>
    <div class="form-group">
        <input type="password" name="newpass1" placeholder="New password" required>
    </div>
    <div class="form-group">
        <input type="password" name="newpass2" placeholder="New password" required>
    </div>
    <div class="form-group">
        <input type="submit" value="Change password" class="btn btn-primary">
    </div>
    
</form>

<%- include('footer') %> 